body {
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif; 
  line-height: 1.5;
  padding-left: 10%;
  padding-right: 10%;
}

.block {
  border-bottom-style:dotted;
  border-bottom-width: 1pt
}

.list li {
	border-bottom-style:solid;
    border-bottom-width: 1pt
}

.image {
	padding:5px;
	float:right;
}